{% extends "main.html" %}

    {% block title %}{{ title }}{% endblock %}

    {% block content %}

        <div class="block">

            <h1>{{ title }}</h1>
            <br>

            <form action="{% url "words:conversations" %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Send">
            </form>


            <br>
            {% if messages %}
                <div>
                    {% for item in messages %}
                        <div>
                            <div>
                                <p>from: {{ item.sender }}</p>
                                <p>date: {{ item.time }}</p>
                            </div>
                            <p>{{ item.text }}</p>
                        </div>
                        <hr style="visibility: hidden;">
                        <hr style="visibility: hidden;">
                    {% endfor %}
                </div>
            {% else %}
                <h3>You have no messages..</h3>
            {% endif %}

        </div>

    {% endblock %}