{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <form id="accept-form" action="" class="full-width-form mfp-hide upload-file-popup" method="POST">
            {% csrf_token %}
            <h2>default</h2>

            <hr class="divider">

                <p>Caller: <span>{{ callings.0.caller }}</span></p>
                <p>Rank: <span>{{ callings.0.caller.rating }}</span></p>
                <p>Board size: <span>{{ callings.0.game_info.board_size }}</span></p>
                <p>Handicap: <span>{{ callings.0.game_info.handicap }}</span></p>
                <p>Komi: <span>{{ callings.0.game_info.komi }}</span></p>
                <p>Basic time: <span>{{ callings.0.game_info.main_basic_time|date:"H:i:s" }}</span></p>
                <p>Byo-yomi: <span>{{ callings.0.game_info.byo_yomi|date:"i:s" }}</span></p>
                <p>Periods: <span>{{ callings.0.game_info.byo_yomi_periods }}</span></p>

            <hr class="divider">

            <input id="accept-button" type="submit" value="accept">
        </form>


        <div id="calls-table" class="eleven columns">

            {% if callings %}
                <table id="table" class="u-full-width">
                    <thead>
                        <tr>
                            <th>caller</th>
                            <th>rank</th>
                            <th>board size</th>
                            <th>handicap</th>
                            <th>komi</th>
                            <th>basic time</th>
                            <th>byo-yomi</th>
                            <th>periods</th>
                            <th>match name</th>
                            <th style="padding-left: 10%">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for call in callings %}
                            <tr>
                                <td><a href="{% url "profile:profile_page" call.caller.user.id %}">{{ call.caller.user.username }}</a></td>
                                <td>{{ call.caller.rating }}</td>
                                <td>{{ call.game_info.board_size }}x{{ call.game_info.board_size }}</td>
                                <td>{{ call.game_info.handicap }}</td>
                                <td>{{ call.game_info.komi }}</td>
                                <td>{{ call.game_info.main_basic_time|date:"H:i:s" }}</td>
                                <td>{{ call.game_info.main_byo_yomi|date:"i:s"}}</td>
                                <td>{{ call.game_info.main_byo_yomi_periods }}</td>
                                <td>{{ call.game_info.title }}</td>
                                <td>
                                    <a id="{{ call.id }}" onclick="get_call({{ call.id }}, '{{ call.caller.user.username }}')" class="popup-with-form button u-pull-right" href="#accept-form">Accept</a>
                                  </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No callings yet..
            {% endif %}
        </div>

        <div class="md-overlay"></div><!-- the overlay element -->

        <!-- Don't judge me -->
        <script>
            path = "{% url "games:accept" 1 %}".split("/");
            current_user = "{{ user }}";
        </script>

        <script src="{% static "js/callings-page.js" %}"></script>

    {% endblock content %}