{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <script>
            var game_id = {{ game_info.id }},
                    comments = {{ comments_l }}
                    title = '{{ game_info.title }}',
                    user = '{{ user.username }}',
                    black = '{{ game.black.user.username }}',
                    white = '{{ game.white.user.username }}',
                    hours_black = {{ game_info.black_basic_time|date:"G" }},
                    minutes_black = {{ game_info.black_basic_time|date:"i" }},
                    seconds_black = {{ game_info.black_basic_time|date:"s" }},
                    periods_black = {{ game_info.black_byo_yomi_periods }},
                    hours_white = {{ game_info.white_basic_time|date:"G" }},
                    minutes_white = {{ game_info.white_basic_time|date:"i" }},
                    seconds_white = {{ game_info.white_basic_time|date:"s" }},
                    periods_white = {{ game_info.white_byo_yomi_periods }},
                    byo_yomi_m = {{ game_info.main_byo_yomi|date:"i" }},
                    byo_yomi_s = {{ game_info.main_byo_yomi|date:"s" }};
        </script>

        <div class="eight columns">
            <img id="w-stone" src="{% static "images/w-stone.png" %}" style="display: none">
            <img id="bg" src="{% static "images/background1.png" %}" style="display: none;">
            <canvas id='desk' height="690" width="690" style="margin-top: -35px;"></canvas>
        </div>

        <div class="three columns" style="margin-top: -15px">
            <div id="black" class="stroke-block player" style="border-radius: 0; border: none">
                <div>
                    <a href="{% url "profile:profile_page" game.black.user.id %}" style="color: white">{{ game.black.user.username }}</a>
                    <h6 style="font-size: 0.9em">({{ game.black.rating }})</h6>
                    <h6 style="float: right; margin-right: 5px;">BLACK </h6>
                </div>

                <hr style="margin: 4px 0 5px 0; border-color: #343434">

                <div class="row">
                    <div>
                        <h6 id="basic_time_black">00:10</h6>
                        <h6 id="black_b" style="color: #777"><span id="byo_yomi_black">00:10</span> x <span id="periods_black">4</span></h6>
                    </div>
                </div>

                <hr style="margin: 4px 0 5px 0; border-color: #222">

                <div class="row">
                    <h6 style="font-weight: 500; margin-bottom:0 ">captured: 9</h6>
{#                    <h6 style="float: right; font-weight: 500; margin-bottom:0 ">captured: 9</h6>#}
                </div>
            </div>

            <hr style="visibility: hidden; margin: 7px auto">

            <div id="white" class="stroke-block player" style="border-radius: 0;">
                <div>
                    <a href="{% url "profile:profile_page" game.white.user.id %}" style="font-weight: 800; color: black">{{ game.white.user.username }}</a>
                    <h6 style="display: inline; font-weight: 800; color: black; font-size: 0.9em">({{ game.white.rating }})</h6>
                    <h6 style="margin-bottom: 0; float: right; margin-right: 5px; font-weight: 800; color: black;">WHITE</h6>
                </div>

                <hr style="margin: 4px 0 5px 0; border-color: #fafafa">

                <div class="row">
                    <div style="color: black">
                        <h6 id="basic_time_white">00:10</h6>
                        <h6 id="white_b" style="color: #999"><span id="byo_yomi_white">00:10</span> x <span id="periods_white">4</span></h6>
                    </div>
                </div>

                <hr style="margin: 4px 0 5px 0; border-color: #eee">

                <div class="row" style="color: black">
                    <h6 style="display: inline; font-weight: 500; margin-bottom:0 ">captured: 9</h6>
                    <h6 style="float: right; font-weight: 500; margin-bottom:0 ">komi: 6.5</h6>
                </div>
            </div>

            <div id="game-actions" class="row" style="margin-top: 20px; ">
                <button class="six columns button" type="button" disabled="disabled">Undo</button>
                <button id="surrender" class="six columns button" type="button">Give up</button>
            </div>

        </div>


        <div class="row">
            <div class="offset-by-one eleven columns">
{#                <h5 style="padding-top: 20px; margin-bottom: 10px">Comments:</h5>#}

                <div class="row" style="margin-top: 25px">
                    <div class="nine columns">
                        <input id="id_text" type="text" class="ten columns">
                        <input id="comment-form" class="u-pull-right" type="button" value="Send">
                        <hr style="margin-top: 60px; margin-bottom: 20px">
                        <div id="comments" class="with-scrollbar" style="max-height: 400px; overflow: auto">
                            {% if comments %}
                                {% for item in comments %}
                                    <p>
                                        {% if item.sender.user == user %}
                                            <a href="{% url "profile:profile_page" item.sender.user.id %}" style="font-weight: 800; text-decoration: none">{{ item.sender }}&nbsp;{{ item.pub_date|date:"(H:s, d.m.y)" }}</a> <br>
                                        {% else %}
                                            <a href="{% url "profile:profile_page" item.sender.user.id %}" style="text-decoration: none">{{ item.sender }}&nbsp;{{ item.pub_date|date:"(H:s, d.m.y)" }}</a> <br>
                                        {% endif %}
                                        {{ item.text }}
                                    </p>
                                {% endfor %}
                            {% else %}
                                Comments...
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <script src="{% static "js/goban/classes.js" %}"></script>
        <script src="{% static "js/goban/helpers.js" %}"></script>
        <script src="{% static "js/goban/draw.js" %}"></script>
        <script src="{% static "js/goban/main.js" %}"></script>

    {% endblock content %}