{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <script>
            var comments = "";
            var json = '{{ json }}';
        </script>

        <div class="eleven columns">

            <img id="bg" src="{% static "images/background1.png" %}" style="display: none;">

            <div class="row games-grid" style="margin-top: 0.5%">
                <div class="four columns">
                    <div id="th_1"></div>
                    <div id="th_4" style="margin-top: 15px"></div>
                </div>
                <div class="four columns">
                    <div id="th_2"></div>
                    <div id="th_5" style="margin-top: 15px"></div>
                </div>
                <div class="four columns">
                    <div id="th_3"></div>
                    <div id="th_6" style="margin-top: 15px"></div>
                </div>
            </div>

            <div class="bottom">
                <a href="{% url "games:show_page" %}"><h6>next &nbsp;</h6><i class="fa fa-long-arrow-right"></i></a>
            </div>

        </div>

        <script src="{% static "js/goban/classes.js" %}"></script>
        <script src="{% static "js/goban/helpers.js" %}"></script>
        <script src="{% static "js/goban/draw.js" %}"></script>
        <script src="{% static "js/grid.js" %}"></script>

        <script>
            show(280, 280, 6, json, "th_", 13.5);
        </script>


    {% endblock content %}