{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <div class="five columns with-min-height" style="margin-top: -0.2%">
        <form class="full-width-form" action="{% url "games:new" %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button-primary u-full-width" type="submit" value="Submit">
        </form>

        </div>

        <div class="five columns u-full-width" style="margin-top: 1.75%">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at placerat mauris. Quisque mi erat, sagittis tincidunt est a, porta molestie purus. Morbi neque nisi, porta quis ipsum sit amet, pulvinar viverra purus. Sed et lorem dolor.
            </p>
        </div>


    {% endblock content %}