{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <script>
            var comments = "";
            var json = '{{ json }}';
        </script>

        <div class="four columns">
            <div class="subhead">
                <h6>calls to play</h6>
                <a href="{% url "games:new" %}">all&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
            </div>
            <br>
            <br>
            <div id="main-callings" style="padding: 0; min-height: 30px">

                {% if callings %}

                    <table class="u-full-width">
                        <tbody>
                                {% for call in callings %}
                                    <tr onclick="window.document.location='{% url "games:show_callings" %}';">
                                        <td>{{ call.caller }}<span>({{ call.caller.rating }})</span></td>
                                        <td>{{ call.game_info.board_size }}x{{ call.game_info.board_size }}</td>
                                        <td>{{ call.game_info.main_basic_time|date:"H:i:s" }}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>

                {% else %}

                    <span style="padding: 10px">No callings yet..</span>

                {% endif %}

            </div>
        </div>

        <div class="seven columns">
            <div class="subhead">
                <h6>games, which played now</h6>
                <a href="{% url "games:show_page" %}">all&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
            </div>
            <br>
            <div class="row">
                <div class="six columns">
                    <div id="th_1" style="margin-top: 10px"></div>
                    <div id="th_3" style="margin-top: 20px"></div>
                </div>
                <div class="six columns">
                    <div id="th_2" style="margin-top: 10px"></div>
                    <div id="th_4" style="margin-top: 20px"></div>
                </div>
            </div>
        </div>

{#                    <div id="th_4" style="margin-top: 15px"></div>#}

        <img id="bg" src="{% static "images/background1.png" %}" style="display: none;">

        <script src="{% static "js/goban/classes.js" %}"></script>
        <script src="{% static "js/goban/helpers.js" %}"></script>
        <script src="{% static "js/goban/draw.js" %}"></script>
        <script src="{% static "js/grid.js" %}"></script>
        <script>
            show(265, 265, 4, json, "th_", 13.5);
        </script>

    {% endblock content %}