{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <div class="five columns with-min-height">

            <form class="full-width-form" action="{% url "home:sign_up" %}" method="post">
                {% csrf_token %}
                <p>Please, enter base account information.</p>
                <div class="fieldWrapper">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Username: *</label>
                    {{ form.username }}
                </div>
                <div class="fieldWrapper">
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}">Password: *</label>
                    {{ form.password }}
                </div>
                <div class="fieldWrapper">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Email: *</label>
                    {{ form.email }}
                </div>

                <hr class="divider">

                <p>Also you can enter the information about yourself, but it's not required.</p>
                <div class="fieldWrapper">
                    {{ form.first_name.errors }}
                    <label for="{{ form.first_name.id_for_label }}">First name:</label>
                    {{ form.first_name }}
                </div>
                <div class="fieldWrapper">
                    {{ form.gender.errors }}
                    <label for="{{ form.gender.id_for_label }}">Gender:</label>
                    {{ form.gender }}
                </div>

                <hr class="divider">

                <input class="button-primary" type="submit" value="Sign up">
            </form>
        </div>

    {% endblock content %}