{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}


        <div class="three columns with-min-height" style="margin-top: -0.2%">
            <form class="full-width-form" action="{% url "home:welcome_page" %}" method="post">
                {% csrf_token %}
                <span class="error">{{ wrong }}</span>
                {{ form }}
                <input class="button-primary" type="submit" value="Sign in">
                <a class="button-primary" href="{% url "home:sign_up" %}">Sign Up</a>
            </form>
        </div>
        <div class="eight columns u-full-width">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed commodo ante. Vestibulum sed placerat velit. Proin ornare aliquet facilisis. Proin tempor non leo ornare efficitur. Proin dictum venenatis leo, at pharetra lacus maximus non. Nulla suscipit sit amet velit a lobortis. Vivamus vel consectetur massa, ac congue nulla. Phasellus non dolor mi. Mauris enim nisi, facilisis sed arcu non, pulvinar vehicula nisl. Ut a lorem facilisis, tempor velit sit amet, maximus justo. Nullam a augue venenatis, aliquam risus ut, consectetur leo. Sed malesuada massa quam, a molestie nisl blandit et. Phasellus quis odio metus</p>
            <p>Cras mattis enim vitae lorem lacinia, eget fringilla urna venenatis. Nam ut tellus a velit mattis tincidunt. Morbi non nisl dui. Vivamus convallis lacinia diam. Vivamus cursus mi lacus, ut imperdiet magna elementum ut. Aliquam consectetur, justo eu fringilla gravida, nunc justo porttitor odio, in porttitor nulla mauris eu tellus. Fusce erat arcu, porta commodo pulvinar ac, blandit in velit.</p>
        </div>

    {% endblock content %}