.block {
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
}

.block input{
    clear: both;
    float: left;
    margin: 2px;
}

.msg-header {
    display: inline;
}

.msg-header p {
    float: left;
}

.msg-header span {
    float: right;
}

