{% extends "main.html" %}

    {% block title %}{{ title }}{% endblock %}

    {% block content %}
        <div class="block">
            <form action="{% url "core:sign_in" %}" method="POST">
                {% csrf_token %}

                {{ form }}

                <input type="submit" value="Sign In">
            </form>
        </div>
    {% endblock %}