{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <div class="six columns">

            {% if members %}
                <div class="stroke-block" style="padding: 20px 0 0 0 ">
                    <table class="u-full-width " style="margin-top: -4%">
                        <thead>
                        <tr>
                            <th>Place</th>
                            <th>Player</th>
                            <th>Rank</th>
                            <th>Defended</th>
                        </tr>
                        </thead>
                        <tbody>
                                {% for m in members %}
                                    <tr>
                                        <td>{{ m.place }}</td>
                                        <td>{{ m.member.user.username }}</td>
                                        <td>{{ m.member.rating }}</td>
                                        <td>{{ m.defended }}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                {{ in_ladder }} There is nobody in this ladder. You can be first.
            {% endif %}

            {% if not in_ladder %}
                <form action="{% url "ladders:join" ladder.id %}" method="POST">
                    {% csrf_token %}
                    <input class="button-primary u-full-width" type="submit" value="Join ladder {{ ladder.title }}">
                </form>
            {% endif %}

        </div>

        <div class="five columns with-min-height" style="margin-top: -0.2%">
            <form action="{% url "ladders:show_page" %}" method="POST">
                {% csrf_token %}
                {% if in_ladder and opponent %}
                    <label for="opponent">Your next opponent</label>
                    <h4 id="opponent">{{ opponent.member.user.username }}</h4>

                    <input type="hidden" name="opponent-id" value="{{ opponent.member.user.id }}">

                    <label for="board-size">Board size</label>
                    <input id="board-size" name="board-size" class="u-full-width" type="text" value="19x19" disabled>

                    <label for="basic-time">Basic time</label>
                    <input id="basic-time" name="basic-time" class="u-full-width" type="text" value="72:00:00"  disabled>

                    <label for="byo-yomi">Byo-yomi</label>
                    <input id="byo-yomi" name="byo-yomi" class="u-full-width" type="text" value="24:00:00 x 5" disabled>

                    <input class="button-primary u-full-width" style="margin-top: 10px" type="submit" value="Evoke">

                {% elif in_ladder and not opponent %}
                    <label for="opponent">Your next opponent</label>
                        <h4 id="opponent">---</h4>

                    <label for="board-size">Board size</label>
                    <input class="u-full-width" type="text" value="---" id="board-size" disabled>

                    <label for="basic-time">Basic time</label>
                    <input class="u-full-width" type="text" value="---" id="basic-time" disabled>

                    <label for="byo-yomi">Byo-yomi</label>
                    <input class="u-full-width" type="text" value="---" id="byo-yomi" disabled>

                    <input class="button u-full-width" style="margin-top: 10px" type="submit" value="Evoke" disabled>
                {% endif %}
            </form>

        </div>

    {% endblock content %}