<!DOCTYPE html>
<html lang="en">

    <head>

    {% load static %}
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800,&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">

    <!-- Icons
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/jquery.magnific-popup.js" %}"></script>
    <script src="{% static "js/popups.js" %}"></script>
    <script src="{% static "js/js.cookie.js" %}"></script>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h1 id="headline">
                        {% if headline %}
                            {{ headline }}
                        {% elif user.first_name %}
                            Nice to meet you, <a href="{% url "profile:profile_page" user.id %}">{{ user.first_name }}</a>
                        {% else %}
                            Nice to meet you, <a href="{% url "profile:profile_page" user.id %}">{{ user.username }}</a>
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>

        <hr id="main-hr">

        <div class="container main-content">
            <div class="row">

                <div id="menu-tab" class="one columns">
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="{% url "games:new" %}"><i class="fa fa-plus fa-lg"></i></a></li>
                        {% endif %}

{#                        {% if headline != "Sign Up" %}#}
                            <li><a href="{% url "home:home_page" %}"><i class="fa fa-th-large fa-lg"></i></a></li>
                            <li><a href="{% url "games:show_page" %}"><i class="fa fa-eye fa-lg"></i></a></li>
{#                        {% endif %}#}

                        {% if user.is_authenticated %}
                            <li><a href="{% url "games:show_callings" %}"><i class="fa fa-flag fa-lg"></i></a></li>
                            <li><a href="{% url "profile:profile_page" user.id %}"><i class="fa fa-user fa-lg"></i></a></li>
                            <li><a href="{% url "words:show_page" %}"><i class="fa fa-comments fa-lg"></i></a></li>
                            <li><a href="{% url "ladders:show_page" %}"><i class="fa fa-star fa-lg"></i></a></li>
                            <li><a href="{% url 'profile:settings' %}"><i class="fa fa-cog fa-lg"></i></a></li>
                            <li><a href="{% url "home:sign_out" %}"><i class="fa fa-sign-out fa-lg fa-flip-horizontal"></i></a></li>
                        {% endif %}
                    </ul>
                </div>

        {% block content %}

        {% endblock content %}

            </div>  <!-- end .row -->
        </div>  <!-- end .container -->

        <script src="{% static "js/basic-page.js" %}"></script>

{#        {% if not chat %}#}
            <div class="container">
                <div id="footer" class="row">
                    <div class="twelve columns u-full-width">
                        <span class="u-pull-right">&nbsp;&nbsp;&nbsp;&nbsp;All rigths recieved. Ilnur & Co, 2015</span>
                        {% if not about %}
                            <a class="u-pull-right" href="{% url "home:about_page" %}" style="display: inline">About</a>
                        {% endif %}
                    </div>
                </div>
            </div>
{#        {% endif %}#}


    </body>

</html>
