{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <script>
            var now_json = '{{ now }}';
            var all_json = '{{ all }}';
            var comments = "";
        </script>

        <form action="{% url "profile:profile_page" user.id %}" id="upload-form" class="mfp-hide upload-file-popup" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Upload File</h2>
            <hr class="divider">
            <div class="fieldWrapper">
                {{ form.file.errors }}
                <label for="{{ form.file.id_for_label }}">File:</label>
                {{ form.file }}
            </div>

            <div class="fieldWrapper full-width-field">
                {{ form.comment.errors }}
                <label for="{{ form.comment.id_for_label }}">Comments:</label>
                {{ form.comment }}
            </div>

            <hr class="divider">
            <input type="submit" value="Upload">
        </form>



        <div class="three columns">
            <div class="subhead">
                <p>info</p>
                {% if own %}
                    <a href="{% url 'profile:settings' %}">settings&nbsp;&nbsp;<i class="fa fa-cog"></i></a>
                {% endif %}
            </div>
            <br>
            <br>

            <div class="stroke-block" style="min-height: 100px">

                <div>
                    <h6 class="profile-tag" style="margin-bottom: 0">Rating:</h6>
                    {{ profile.rating }}
                </div>

                {% if profile.gender != 'N' or user.first_name %}
                    <hr class="divider" style="margin-top: 10px">

                    <div class="row">
                        <div class="six columns">
                            <h6 class="profile-tag" style="margin-bottom: 0">Real name:</h6>
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                <span style="color: rgba(197, 62, 60, 0.37)">None</span>
                            {% endif %}
                        </div>
                        <div class="six columns">
                            <h6 class="profile-tag" style="margin-bottom: 0">Gender:</h6>
                            {% if profile.gender != 'N' %}
                                {% if profile.gender == 'M' %}
                                    {{ profile.gender }}ale
                                {% else %}
                                    {{ profile.gender }}emale
                                {% endif %}
                            {% else %}
                                <span style="color: rgba(197, 62, 60, 0.37)">None</span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if user.email %}
                    <hr class="divider" style="margin-top: 10px">

                    <div>
                        <h6 class="profile-tag" style="margin-bottom: 0; ">Email:</h6>
                        {{ user.email }}
                    </div>
                {% endif %}

                {% if profile.about_me %}
                    <hr class="divider" style="margin-top: 10px">

                    <div>
                        <h6 class="profile-tag" style="margin-bottom: 0; ">About me:</h6>
                        {{ profile.about_me }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="eight columns">

            {% if now|length > 2 %}
                <div class="subhead">
                    <h6>played now</h6>
                    <a href="{% url 'profile:now' user_id %}">all&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div id="now_1" class="four columns" style="margin-right: 14px"></div>
                    <div id="now_2" class="four columns"></div>
                    <div id="now_3" class="four columns"></div>
                </div>
                <br>
            {% endif %}


            {% if all|length > 2 %}
                <div class="subhead" style="margin-top: 20px">
                    <h6>all played games</h6>
                    <a href="{% url 'profile:all' user_id %}">all&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div id="all_1" class="four columns" style="margin-right: 14px"></div>
                    <div id="all_2" class="four columns"></div>
                    <div id="all_3" class="four columns"></div>
                </div>
                <br>
            {% endif %}

            <div class="subhead">
                <h6>collection</h6>
                <a href="{% url 'games:show_page' %}">all&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                {% if own %}
                    <a class="popup-with-form"  style="margin-right: 2px" href="#upload-form">new file&nbsp;&nbsp;<i class="fa fa-plus"></i></a>
                {% endif %}
            </div>
            {% if collection %}
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Upload time</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in collection %}
                            <tr>
                                <td>{{ c.file }}</td>
                                <td>{{ c.upload_time }}</td>
                                <td>{{ c.comment }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
{#                <div class="row" style="margin-top: 10px;">#}
{#                    <div id="coll_1" class="four columns" style="margin-right: 14px"></div>#}
{#                    <div id="coll_2" class="four columns"></div>#}
{#                    <div id="coll_3" class="four columns"></div>#}
{#                </div>#}
{#                <br>#}
            {% else %}
                <br>
                There is no any files.
            {% endif %}

            {% if now|length == 2 and all|length == 2 %}
                This player has not played any games.
            {% endif %}

        </div>

        <img id="bg" src="{% static "images/background1.png" %}" style="display: none;">

        <script src="{% static "js/goban/classes.js" %}"></script>
        <script src="{% static "js/goban/helpers.js" %}"></script>
        <script src="{% static "js/goban/draw.js" %}"></script>
        <script src="{% static "js/grid.js" %}"></script>

        <script>
            show(220, 220, 3, now_json, "now_", 10.5);
            console.log(all_json);
            show(220, 220, 3, all_json, "all_", 10.5);
        </script>


    {% endblock content %}