{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <div class="five columns with-min-height" style="margin-top: -0.2%" xmlns="http://www.w3.org/1999/html">
            <form class="full-width-form" action="{% url "profile:settings" %}" method="POST">
                {% csrf_token %}
{#                <p>There is the current information about you.</p>#}
                <div class="fieldWrapper">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                </div>
                <hr class="divider">

                <div class="fieldWrapper">
                    {{ form.first_name.errors }}
                    <label for="{{ form.first_name.id_for_label }}">Real name:</label>
                    {{ form.first_name }}
                </div>
                <hr class="divider">

                {{ not_match }}
                <div class="fieldWrapper">
                    {{ form.password.errors }}
                    <span class="error">{{ not_match }}</span>
                    <label for="{{ form.password.id_for_label }}">New password:</label>
                    {{ form.password }}
                </div>

                <div class="fieldWrapper">
                    {{ form.repeat_password.errors }}
                    <label for="{{ form.repeat_password.id_for_label }}">Repeat:</label>
                    {{ form.repeat_password }}
                </div>
                <hr class="divider">

                <div class="fieldWrapper">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                </div>
                <hr class="divider">

                <div class="fieldWrapper">
                    {{ form.gender.errors }}
                    <label for="{{ form.gender.id_for_label }}">Gender:</label>
                    {{ form.gender }}
                </div>

                <div class="fieldWrapper">
                    {{ form.about_me.errors }}
                    <label for="{{ form.about_me.id_for_label }}">About me:</label>
                    {{ form.about_me }}
                </div>

                <hr class="divider">
                <p>To apply changes enter your current password.</p>
                <div class="fieldWrapper">
                    {{ form.current_password.errors }}
                    <span class="error">{{ wrong_pass }}</span>
                    <label for="{{ form.current_password.id_for_label }}">Current password:</label>
                    {{ form.current_password }}
                </div>
                <hr class="divider">

                <input class="button-primary u-full-width" type="submit" value="Submit">
            </form>
        </div>
        <div class="five columns u-full-width" style="margin-top: 1.75%">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at placerat mauris. Quisque mi erat, sagittis tincidunt est a, porta molestie purus. Morbi neque nisi, porta quis ipsum sit amet, pulvinar viverra purus. Sed et lorem dolor.
            </p>
        </div>


    {% endblock content %}