<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static "css/main.css" %}">

</head>
<body>

    {% block content %}

    {% endblock content %}

</body>
</html>