{% extends "basic.html" %}
{% load staticfiles %}

    {% block content %}

        <script>
            var room_id = {{ room_id }};
            var words = {{ words }};
        </script>

        <div class="eight columns">
            <div id="window" class="chat-window with-scrollbar">
                {% if messages %}
                    {% for item in messages %}
                        <p>
                            {% if item.sender.user == user %}
                                <a href="{% url "profile:profile_page" item.sender.user.id %}" style="font-weight: 800; text-decoration: none">{{ item.sender }}&nbsp;{{ item.pub_date|date:"(H:s, d.m.y)" }}</a> <br>
                            {% else %}
                                <a href="{% url "profile:profile_page" item.sender.user.id %}" style="font-weight: 500; text-decoration: none">{{ item.sender }}&nbsp;{{ item.pub_date|date:"(H:s, d.m.y)" }}</a> <br>
                            {% endif %}
                            {{ item.text }}
                        </p>
                    {% endfor %}
                {% elif not in_room %}
                    <div style="margin-top: 10%" class="row">
                        <div class="five columns offset-by-two">
                            <p style="margin: 0 auto 10px 0">You are not a member in this room.</p>
                            <form action="{% url "words:get_in" room_id %}" method="POST">
                                <input id="csrf" type="hidden" name="csrfmiddlewaretoken">
                                <input class="button-primary u-full-width" type="submit" value="Become a member">
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if in_room %}
                <div class="row">
                    <input id="id_text" type="text" class="ten columns">
                    <input id="comment-form" class="two columns" type="button" value="Send">
                </div>
            {% endif %}

        </div>

        <div class="three columns">
            <div class="stroke-block chat-block">
                <h6>Users in this room</h6>
                <div class="chat-block-list with-scrollbar">
                    {% for u in users %}
                        <a href="{% url "profile:profile_page" u.user.id %}" style="text-decoration: none; color: black;">{{ u }}</a><br>
                    {% endfor %}
                </div>
            </div>
            <div class="stroke-block chat-block" style="margin-top: 18px">
                <h6>Rooms</h6>
                <div id="rooms" class="chat-block-list with-scrollbar">
                    {% for r in rooms %}
                        <a href="{% url "words:show_page" r.id %}" style="text-decoration: none; color: black;">{{ r }}</a><br>
                    {% endfor %}
                </div>
            </div>

        </div>

        <script src="{% static "js/words-page.js" %}"></script>
        <script>
            var chat = document.getElementById("window");
            chat.scrollTop = chat.scrollHeight - chat.clientHeight;
            document.getElementById("csrf").setAttribute('value', Cookies.get("csrftoken"));
        </script>

    {% endblock content %}