/* HEADER
    -------------------------------------
*/

#headline {
    margin-top: 7%;
    margin-left: 8.8%;
    /*margin-bottom: 5%;*/
    font-weight: 800;
    color: #52616b;
}

#headline h3 {
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 800;
    color: #52616b;
}

#headline a {
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #1EAEDB;
}



/* MENU
    -------------------------------------
*/

#menu-tab ul {
    margin-top: 0;
    margin-left: 35px;
    list-style-type:none;
}

#menu-tab ul li a i {
    margin: 0 auto 10px auto;
}

#menu-tab ul li a {
    text-decoration: none;
    color: #52616b;
}

#menu-tab ul li a:hover {
    background-size: 10px 10px;
    color: #1EAEDB;
}



/* SUBHEAD
    -------------------------------------
*/

/* begin: home page */
.subhead {
    display: inline;
    margin-top: -5%;
    /*margin-bottom: 10%;*/
}

.subhead h6 {
    display: inline;
    font-weight: 800;
    font-size: 1.2em;
    color: #52616b;
}

.subhead p {
    display: inline;
    margin-left: 6px;
    color: #E1E1E1;
    font-weight: 500;
}

.subhead a {
    padding: 1px 5px 1px 6px;
    font-weight: 500;
    float: right;
    text-decoration: none;
}

.subhead a:hover {
    border-radius: 6px;
    background-color: #F5F5F5;
}
/* end: home page */


.sub-second-head {
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 5px 15px 33px 0;
    margin-bottom: 5px;
}
.sub-second-head a {
    text-decoration: none;
    color: #52616b;
    font-size: 1.15em;
    float: right;
    display: inline;
}

.sub-second-head a h6 {
    display: inline;
    font-weight: 500;
}

.sub-second-head a:hover {
    color: #1EAEDB;
}



/* PROFILE
    -------------------------------------
*/

.profile-blocks {
    margin-bottom: 250px;
}

.profile-info p {
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-tag {
    color: #52616b;
    font-style: italic;
    font-weight: 500;
}



/* CALLINGS
    -------------------------------------
*/

#main-callings table tbody tr td span {
    color: #1EAEDB;
}

#main-callings table tbody tr:last-child td {
    /*padding-bottom: 0;*/
}

#main-callings table tbody tr:hover {
    background-color: #F1F1F1;
}

#calls-table table thead tr th {
    font-weight: 800;
    color: #ddd;
}

#calls-table table tbody tr td:first-child {
    font-weight: 500;
}

#calls-table table tbody tr {
    padding-bottom: 0;
}

#calls-table table {
    margin-top: -2.5%;
}

.play {
    float: right;
}

.play:hover {
    background-color: #F1F1F1;
    border-color: #F1F1F1;
}



/* GAMES
    -------------------------------------
*/

.game-thumbnails-sm {
    width: 32%;
    height: 200px;
    display: inline;
    margin-bottom: 3%;
}

.game-thumbnails {
    width: 48%;
    height: 260px;
    display: inline;
    margin-bottom: 5%;
}

.game-thumbnails-lg {
    height: 260px;
    margin-bottom: 12%;
}

.game-thumbnails-lg-last {
    height: 260px;
    margin-bottom: 5%;
}

.games-grid {
    margin-top: 2%;
}

.game {
    background: url("../images/board.png") no-repeat;
    /*background-size: cover;*/
}

/*.player-profile a {*/
    /*font-weight: 800;*/
    /*text-decoration: none;*/
    /*display: inline;*/
/*}*/

/*.player-profile div {*/
    /*margin-top: 5px;*/
    /*padding-top: 5px;*/
    /*border-top: 1px solid #E1E1E1;*/
/*}*/

.player {
    min-height: 70px;
}

.player:first-child {
    margin-top: -20px;
}

.player:first-child h6, .player:first-child a {
    text-decoration: none
    margin-top: -3px;
    margin-bottom: 0;
    display: inline;
    font-weight: 800;
}

#basic_time_black, #basic_time_white {
    display: block;
    clear: both;
    float: right;
    margin: 0;
    font-size: 3em;
    font-weight: 500
}

#byo_yomi {
    display: block;
    clear: both;
    float: right;
    margin: -10px 5px 0 0;
    font-size:
    1.1em;
    font-weight: 500;
}

#black{
    background: linear-gradient(to top, #111, #333);
    border: none;
    color: white;
}

#white {
    background: linear-gradient(to top, #efefef, #fff);
}


/* CHAT
    -------------------------------------
*/

.chat-window {
    min-height: 585px;
    max-height: 585px;
    overflow: auto;
    width: 665px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.game-chat {
    border: none;
    padding-top: 5px;
    /*height: 452px;*/
}

.word {
    margin: 0;
    padding: 0;
}

.word a {
    text-decoration: none;
}

.word p {
    line-height: 20px;
    margin-bottom: 13px;
}


.chat-block {
    min-height: 285px;
    max-height: 285px;
}

.chat-block h6 {
    font-weight: 800;
    color: #ccc;
    /*border-bottom: 1px solid #E1E1E1;*/
    margin-top: -5px;
    margin-bottom: 5px;
}

.chat-block-list {
    width: 100.5%;
    max-height: 270px;
    overflow: auto;
}




/* FOOTER
    -------------------------------------
*/

#footer {
    margin-top: 2%;
    margin-left: 8.6%;
    margin-bottom: 2%
}

.bottom {
    padding-bottom: 3%;
}

.bottom a {
    text-decoration: none;
    color: #52616b;
    font-size: 1.15em;
    float: right;
    display: inline;
}

.bottom a h6 {
    display: inline;
    font-weight: 500;
}




/* USEFUL */

.stroke-block {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #E1E1E1;
    background-color: white;
}

.stroke-block table tr td:first-child, .stroke-block table tr th:first-child {
    padding-left: 15px;
}

.stroke-block table tr:last-child td {
    border-bottom: none;
}

.main-content {
    /*margin-top: 1%;*/
    min-height: 690px;
}

.with-min-height {
    min-height: 600px;
}

.with-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.with-scrollbar::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

.with-scrollbar::-webkit-scrollbar-track {
    background: #eee;
    border-radius:10px;
}

.with-scrollbar::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius:10px;
}

.with-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}


label, table tr th {
    color: #52616b;
}




/* FORMS
    -------------------------------------
*/

.upload-file-popup {
    margin: auto;
    max-width: 20%;
    padding: 50px;
    background-color: white;
}

.full-width-form input, .full-width-form div input, .full-width-form div textarea {
    width: 100%;
}

.full-width-field input, .full-width-field textarea {
    width: 100%;
}
.errorlist li, .error {
    color: red;
    font-weight: 500;
}

.errorlist, .error {
    list-style-type: none;
    margin-bottom: 5px;
}

.divider {
    margin: 2% 0 4% 0;
    border-style: dashed;
}

.form-links {
    margin-top: -2%;
    margin-bottom: 25px;
}

.accept-form {
    margin-bottom: 0;
    float: right;
}


/* NOTIFICATION
    -------------------------------------
*/

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}

.cssanimations.csstransforms #close {
  display: none;
}

.th-hover {
    transition: background-color 0.5s ease;
}

.th-hover:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#th_1, #th_2, #th_3, #th_4, #th_5, #th_6 {
    font-weight: 500;
    color: #52616b;
}